<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RFRCC_RobotController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="beamline" connectionString="Server=.\SQLExpress;Database=beamline;User Id=TestAcct;Password=TestTest;"
      providerName="System.Data.SqlClient" />
    <add name="RFRCC_RobotController.Properties.Settings.PlasmaDataConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PlasmaData.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <RFRCC_RobotController.Properties.Settings>
      <setting name="LoadSequenceEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocationSequenceEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EGMEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IHSEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HitchfeedingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportAssignCustomSectors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportStartAlignedWithFace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportNumberOfSectors" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ImportNWMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportNWMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportNMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportNMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportNEMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportNEMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportEMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportEMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSEMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSEMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSWMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSWMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportWMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportWMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GenerationHoleLeadInOutEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerationExtContourLeadInOutEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerationIntContourLeadInOutEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerationHoleLeadInDist" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="GenerationHoleLeadOutDist" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="GenerationExtContourLeadInDist" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="GenerationExtContourLeadOutDist" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="GenerationIntContourLeadInDist" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="GenerationIntContourLeadOutDist" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="GenerationHoleLinearLeadIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerationExtContourLinearLeadIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerationIntContourLinearLeadIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportDefaultStockLength" serializeAs="String">
        <value>12.00</value>
      </setting>
      <setting name="GenerationOpSettingsHoleApproxDist" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GenerationOpExtContourApproxDist" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GenerationOpSettingsIntContourApproxDist" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GenerationOpSettingsExtContourApproxDist" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GenerationOpSettingsExtContourAccel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GenerationOpSettingsHoleAccel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GenerationOpSettingsIntContourAccel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PathCorrectionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </RFRCC_RobotController.Properties.Settings>
  </userSettings>
</configuration>